.holder{
	display:flex;
	justify-content:space-between;
}

.item{
	height:100px;
	width:100px;
	background-color:ghostwhite;
	display:flex;
	flexwrap:wrap;
}

.item1{
	background-color:green;
}
.item2{
	background-color:red;
}
.item3{
	background-color:blue;
}